:root {
    /* Colors */
    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216deg 12% 54% / 16%);
    --dark-blue: hsla(213, 20%, 18%, 0.171);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Font */
    --sm: 1.2rem;
    --md: 1.4rem;
    --lg: 2.5rem;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
    background: var(--very-dark-blue);
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.card__container {
    background: linear-gradient(var(--medium-grey), var(--dark-blue));
    width: 90%;
    max-width: 340px;
    height: 54%;
    max-height: 400px;
    padding: 20px 30px;
    margin: auto;
    border-radius: 15px;
}
.container__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--medium-grey);
    border-radius: 50%;
}
.box__icon {
    display: block;
    width: 17px;
    height: 16px;
    background-image: url('./images/icon-star.svg');
}
.container__title {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--white);
    margin-bottom: 10px;
}
.container__info {
    color: var(--light-grey);
    font-size: var(--md);
    line-height: 1.5;
    margin-bottom: 20px;
}
.container__ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.ratings__imput {
    display: none;
}
.ratings__label {
    padding: 13px 18px;
    background: var(--medium-grey);
    border-radius: 50%;
}
.rating__p {
    color: var(--light-grey);
    font-size: var(--md);
}
.container__button {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border:none;
    font-size: var(--md);
    color: var(--white);
    background: var(--orange);
}

.container__1 {
    display: none;
}
.container__2 {
    display: flex;
    /* display: block; */
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__icon {
    display: block;
    width: 162px;
    height: 108px;
    background-image: url('./images/illustration-thank-you.svg');
    margin: 18px;
}
.container__selection {
    background: var(--medium-grey);
    color: var(--orange);
    padding: 8px;
    border-radius: 30px;
    font-size: var(--sm);
    margin-bottom: 20px;
}

@media (min-width:600px) {
    .card__container {
        max-width: 400px;
        max-height: 400px;
    }
    .container__selection {
        margin-bottom: 30px;
    }
    .container__info {
        margin-bottom: 5px;
    }
}